.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: flex;
  
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 430px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .modal__container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 22px;
    padding-left: 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100%);
    margin-bottom: 13.62px;
    left: calc(88% + 3px);
  }
}